extends ../layouts/base

block metas
  meta(name="Author" content="北京凡度网络")
  meta(name="keywords" content="拇指妈妈,圣元优博")
  meta(name="Description" content="圣元国际拇指妈妈微信群聊系统")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

block title
  title 拇指妈妈微信群聊系统

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/ionic.min.css")

block main
  - each user1, i in users
    .row
      .col
        a(href='/chat/my?seller=#{encodeURIComponent(JSON.stringify(user1))}')
          button.button.button-positive.button-block 用户#{i+1}
      - each user2, j in users
        - if (i !== j)
          .col
            a(href='/chat/to?consumer=#{encodeURIComponent(JSON.stringify(user1))}&seller=#{encodeURIComponent(JSON.stringify(user2))}')
              button.button.button-dark.button-block 和用户#{j+1}聊天
